[Desktop Entry]
Name=Display Text Size
Comment=Adjust text size for readability
Exec=nw-resolution
Icon=preferences-desktop-display
Terminal=false
Type=Application
Categories=Settings;
